<div class="flex items-center">
    <h5>
        <%= title %>
    </h5>
    <span id="count-overdue" class="h-6 w-7 bg-gray-300 ml-2 mt-1 rounded text-sm text-center w-fit">
        <%= data.length %>
    </span>
</div>
<ul class="list-none">
    <% for( var i=0; i < data.length; i++) { %>
        <li class="Todo-Item">
            <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-200">
                <input id="todo-checkbox-<%=data[i].id %>" type="checkbox" <%=data[i].completed ? "checked" : "" %>
                onclick="updateTodo('<%= data[i].id %>')"
                    class="w-4 h-4 text-blue-600 bg-green-100 rounded border-gray-300" />
                    <label for="todo-checkbox-<%=data[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer">
                        <%= data[i].title%>
                    </label>
                    <a href="#" onclick="deleteTodo('<%= data[i].id %>')" class="trash-icon ml-2">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>

                    </a>
            </div>
        </li>
        <% } %>
</ul>
